// Border
$b-0: 0;
$b-1: .1rem;
$b-2: .2rem;
$b-3: .3rem;


// Border lines
$b-solid: solid;
$b-dashed: dashed;


// Border radius
$br-00: 0;
$br-20: .2rem;
$br-40: .4rem;
$br-60: .6rem;
$br-80: .8rem;
$br-100: 1rem;
$br-120: 1.2rem;
$br-140: 1.4rem;
$br-160: 1.6rem;
$br-180: 1.8rem;
$br-200: 2rem;
$br-round: 50%;
