// Box shadows
$shadow-sm: 0 .12rem .55rem rgb(0 0 0 / 4%);
$shadow-md: 0 .25rem .75rem rgb(0 0 0 / 4%);
$shadow-lg: 0 .5rem 1rem rgb(0 0 0 / 4%);


// Text shadows
$text-shadow: 0 .06rem .3rem rgb(0 0 0 / 4%);
