// pdings
$p-tiny: .25rem;
$p-xxs: .5rem;
$p-xs: .7rem;
$p-sm: 1rem;
$p-md: 1.5rem; // Cards mobile
$p: 2rem; // Default, Cards tablet & desktop
$p-lg: 2.5rem;
$p-xl: 3rem;
$p-xxl: 4rem;
$p-big: 5rem;


// mgins
$m-tiny: .25rem;
$m-xxs: .5rem;
$m-xs: .7rem;
$m-sm: 1rem;
$m-md: 1.5rem;
$m: 2rem; // Default
$m-lg: 2.5rem;
$m-xl: 3rem;
$m-xxl: 4rem;
$m-big: 5rem;
